<% content_for :title do %> Snippets <% end %>

<section>
  <div class="column">
    <h1>Lista de Snippets</h1>
    <p>
    <%= link_to "Nuevo", new_snippet_path %>
    </p>

    <div class="column">
      <% @snippets.each do |s| %>
        <p>
      <strong>Titulo: </strong> <%= s.title.capitalize %><br />
      <strong>Lenguaje: </strong> <%= s.lang.capitalize %>
    <span><%= link_to "Mostrar", s %> |
        <%= link_to "Eliminar", s, method: :delete,
        data: { confirm: "Seguro?" } %>
    </span>
      </p>
    <% end %>
    </div>
  </div>
</section>
