<section>
<h1>Snippet</h1>

<p>
<%= link_to "Editar", edit_snippet_path(@snippet) %> |
<%= link_to "Atras", root_path %>
</p>

<p>
<strong>Titulo:</strong>
<%= @snippet.title.capitalize %>
</p>

<p>
<strong>Lenguaje:</strong>
<%= @snippet.lang.capitalize %>
</p>

<p>
<strong>Codigo:</strong>
</p>
<p>
<%= raw Rouge.highlight @snippet.code, @snippet.lang, "html" %>
</p>
</section>
